@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Berkshire+Swash&family=Lobster&family=Montserrat:wght@300;400&family=Playfair+Display:wght@600;700&family=Raleway:ital,wght@0,300;1,400&family=Reenie+Beanie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body{
    font-family: montserrat;
}

.container{
   padding: 60px 0;
   width: 90%;
   max-width: max-content;
   margin: auto;
   overflow: hidden;
}

.titulo{
        color:#642a73;
        font-size:30px;
        text-align:center;
        margin-bottom:  60px;
        font-weight: bold;
}

header{
    width: 100%;
    height: 600px;
    background: #43C6AC; 
    background: -webkit-linear-gradient(to right, #f8ffaea2, #72fce17a), url(../webfinal2/images/header.jpg);
    background: linear-gradient(to right, #f8ffaea2, #72fce17a), url(../webfinal2/images/header.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

.navbar-expand-md .navbar-nav .nav-link{
    color:rgba(90, 0, 98, 0.871);
    font-weight:bold;
    text-decoration:none;
    margin-right:10px;
}
.navbar-expand-md .navbar-nav .nav-link:hover{
    text-decoration: overline ; 
}

header .textos-header{
    display:flex;
    height:430px;
    width:100%;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    }

    .textos-header h1{
        font-size: 50px;
        color:whitesmoke;
        font-weight: bolder;
        align-items: flex-start;
    }

    .container-quiensoy{
     justify-content: space-evenly; 
     margin-top: 20vh;  
    }

 .textos-quiensoy >h3{

margin-top: 10vh;
margin-bottom: 20vh;
font-weight: 500;
margin-left: 15vh;
margin-right: 15vh;
text-align: center;
}
/*GALERÃA*/

.trabajos{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #ffffff 100%);
}

 .galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
 }

 #galeria .images{
    display: flex;
    flex-wrap: nowrap;
 }

 .images{
    width: 25%;
    margin-bottom: 10px;
    overflow:hidden;
    position:relative;
    cursor:pointer;
    box-shadow: 0 0 6px rgb(64, 2, 78);
 }

 .images >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
 }

 .row{
    background-color: #f7ae76;
    background-image: linear-gradient(0deg, #f7ae76 0%, #d9afd9 100%);
 }

 #servicios{
        padding-top: 15vh;
        padding-bottom: 15vh;
        text-align: center;
    }

#servicios img{
    width: 100%;
}

#servicios h4{
    margin: 10px 0;
    text-align: center;
}

/*FOOTER*/

#redes{
    display: flex;
    text-decoration: none;
    padding: 10vh;
    text-decoration: none;
}


footer{
    background: whitesmoke;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
    
}


#redes li {
    list-style: none;
    margin: 20px;
    text-align: center;
}


ul.footer {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

footer.ul{
    display: flex;
    flex-wrap: wrap;
}

p{
    color: #642a73;
    text-align: center;
    font-weight: bold;
}

ul{
    list-style: none;
    text-align: center;
}

a{
    color:#015830;
    text-decoration: none;
}


/*cookies*/

#cookies {
    background-color: #00bc84b2;
    color: #f3f4e6;
    height: 12vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    }
    
#cookies button {        
    color: #015830;
    background-color: #f3f4e6;
    border-color: #007bff00;
    border-radius: 5px;  
    }

