body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url(images/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height:auto;
    }

header p {
    margin: 0;
    padding: 20vw;
    font-size: 3em;
    color:white ;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color:red;
}

.contenido {
    padding: 20vw;
}

h2 {
    margin-bottom: 100px;
    color:darkgray;
}

p {
    margin-bottom: 50px;
}

ul {
    color:grey;
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

li a {
    color:black;
    text-decoration:none;
    font-size: 3vw;
}

li a:hover {
    color:lightgreen;
}

footer {
    padding: 20vw;
    background-color: black;
    color:white;
}

footer a {
    color:white;
    text-decoration: none;    
}

footer a:hover {
    color:tomato;
}

ol {
    list-style-type: none;
}

ol li {
    margin-bottom: 10px;
}

#menu {
    position: fixed;
    top:0;
    left:0;
    Height: min-content;
    Width: 100%;
    background-color: rgb(235, 230, 230);
}

#lista2{
    font-family:Arial;
    font-weight:bold;
    font-size:15px;
}

.separador {
    color:gray;
}
#lista2 li {
     display:inline;
     padding-left:7px;
     padding-right:7px;
    background-color:none;
}

#lista2 :hover {
    color:rosybrownç;
    background-color:transparent;
    position: relative;
    left: 8px;
    border: 3px;
}

header img {
    height: 100%;
    position: absolute;
}
header h3 {
    position: absolute;
    background-color: gray;
    bottom: 0;
    font-size: 0;
}
header:hover h3 {
    color: beige;
    font-size: 72px;
    transition: .5s ease;